.cont{
  background-color: #396fa5;
  font-family:  sans-serif;
}
.footer {
  background-color: #0f1b2d;
  color: #cbd5e1;
  padding: 60px 80px 30px;
  margin-top: 60px;
}


.top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 50px;
}

.top h3 {
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  font-weight: 500;
 
}

.top h4 {
  color: white;
  margin-bottom: 15px;
}

.top p {
  color: rgb(165, 165, 165);
   font-size: 14px;
  line-height: 1.6;
  max-width: 400px;
}

.top ul {
  list-style: none;
}

.top li {
  color: rgb(165, 165, 165);
  font-size: 14px;
  margin-bottom: 12px;
  cursor: pointer;
}

.top li:hover {
  color: white;
}


.bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 15px;
}

